@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

#nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(0, 0, 0);
    position: sticky;
    top: 0;
}

.nav-links{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}
.nav-link{
    margin: 0 1rem;
}

.nav-link a{
    color: #fff;
    text-decoration: none;
    transition: all 0.5s;
}

.nav-link a:hover{
    color: #ffc107;
}

.brand-logo{
    font-size: 2rem;
    font-weight: bold;
}

.brand-logo a{
    color: #fff;
    text-decoration: none;
    transition: all 0.5s;
}
.brand-logo a:hover{
    color: #33ff00;
}

.card-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.card-item{
    width: 30%;
    margin: 1rem;
    padding: 1rem;
    border: 1px solid whitesmoke;
    border-radius: 5px;
    box-shadow: 0px 0px 5px whitesmoke;
    max-width: 300px;
    min-width: 200px;
}
.card-image img{
    width: 100%;
    height: auto;
}

.card-content h3{
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
}
.card-content p{
    font-size: 1rem;
    margin-bottom: 1rem;
}
.card-content span{
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.btn-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.btn{
    margin-left: auto;
    margin-right: auto;
    background-color: #ffc107;
    color: #000;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 1rem;
    cursor: pointer;
}
footer {
    background-color: rgb(0, 0, 0);
    padding: 1rem;
    color: #fff;
    text-align: center;
}

.footer-items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
@media(max-width: 350px){
    .footer-items{
        justify-content: center;
    }
}
footer a ion-icon, footer a{
    color: #ffc107;
    text-decoration: none;
    font-size: 2rem;
    transition: all 0.5s;
}
footer a:hover ion-icon{
    color: #33ff00;
    transform: translate(0, -5px);
}

.container{
    min-height: 100vh;
}

.checkout-buttons .btn{
    background-color: #7fff07;
}